@CHARSET "ISO-8859-1";

  #titrePage, #intro_text{
  		text-align: center;
  }
  
  /*style carrousel*/
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
     /*margin: auto;*/
  }

  div.container.container_carousel{
   margin-top: -40px;   
  }
  
