@CHARSET "ISO-8859-1";

/*Titre du page*/
#titrePage{
	text-align: center;
}

/*GRID*/

/*les balises em n'impactent pas le rendu visuel */
em { font-weight: normal; font-style: normal; }


/*on aligne les colonnes et on ajoute un padding pour avoir une "marge visuelle"*/
[class*="col-"]  {  float:left;  padding:0 15px;  }


.row:after
{
    content: "";
    clear:both;
    display:block;
}

.col-1  {  width:8.33%;  }
.col-2  {  width:16.66%;  }
.col-3  {  width:25%;  }
.col-4  {  width:33.33%;  }
.col-5  {  width:41.66%;  }
.col-6  {  width:50%;  }
.col-7  {  width:58.33%;  }
.col-8  {  width:66.66%;  }
.col-9  {  width:75%;  }
.col-10 {  width:83.33%;  }
.col-11 {  width:91.66%;  }
.col-12 {  width:100%;  }


/*VERSION TABLETTE************************/
@media only screen and (max-width:768px)
{
    .col-m-1  {  width:8.33%;  }
    .col-m-2  {  width:16.66%;  }
    .col-m-3  {  width:25%;  }
    .col-m-4  {  width:33.33%;  }
    .col-m-5  {  width:41.66%;  }
    .col-m-6  {  width:50%;  }
    .col-m-7  {  width:58.33%;  }
    .col-m-8  {  width:66.66%;  }
    .col-m-9  {  width:75%;  }
    .col-m-10 {  width:83.33%;  }
    .col-m-11 {  width:91.66%;  }
    .col-m-12 {  width:100%;  }
}

/*VERSION VERY SMALL DEVICES*********************/
@media only screen and (max-width:640px)  {  [class*="col-"] {  width:100%;  }  }