/*[CODE CSS COMMUN]===========================================================================*/

body, html {
    height: 100%;
    margin: 0;
}

.gradient_body{
	background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(240,240,240,1) 100%);
}

#footer_accueil{
    background: linear-gradient(to right, #e3898b8c, #f0f3e7);	
	width:100%;
}



/*[CODE CSS COMMUN_FIN]=======================================================================*/
/*===========================================================================[MENU]*/
nav.navbar.navbar-inverse,div#myNavbar.collapse.navbar-collapse{
	margin-bottom:0px;
   background: linear-gradient(to right, #531873, #744b63);
}

nav.navbar.navbar-inverse a{
 font-size: 20px;	
 color: #b6d322;
}

.navbar-inverse .navbar-nav>li>a {
	 
  color: #b6d322 !important;
}


.navbar-inverse .navbar-nav>li>a:hover {
  color: #ff944d !important;
}
} 
/*===========================================================================[MENU_FIN]*/

/*[PAGE ACCEUIL]===========================================================================*/
.intro_paragraphe p,.fa,h2.text-center{
color:black;
}  

.intro_paragraphe p, #superman_intro_paragraphe p{
font-size:15px;
}
 
section#section_intro.container,footer{
    background: linear-gradient(to right, #e3898b8c, #f0f3e7);
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
} 

#boutton_anchor a{
	color:white;
	font-size:15px;
}	

/*[PAGE ACCUEIL-FIN]=======================================================================*/

/*[PAGE PERSONNAGE]========================================================================*/

.superman_bg_color_1{background-color:#4da2dc !important}  
.superman_bg_color_2{background-color:#e42a2a !important} 

.batman_bg_color_1{background-color:#767676 !important}  
.batman_bg_color_2{background-color:#722482 !important}  

.joker_bg_color_1{background-color:#666699 !important}  
.joker_bg_color_2{background-color:#1d988d !important}

.wonder_woman_bg_color_1{background-color:#d6ae37 !important}  
.wonder_woman_bg_color_2{background-color:#ad5f3c !important} 

.batman_modal{
.batman_bg_color_1{background-color:#767676 !important}  
}

.hero_modal{
  height: 500px!important;
}

.modal_superman_image {
  background-image: url("../images/modal/superman_modal_bg.png");
}

.modal_batman_image {
  background-image: url("../images/modal/batman_modal_bg.png");
}

.modal_joker_image {
  background-image: url("../images/modal/joker_modal_bg.png");
}

.modal_wonder_woman_image{
  background-image: url("../images/modal/wonder_woman_modal_bg.png");
}

.modal_superman_image,.modal_batman_image,.modal_joker_image,.modal_wonder_woman_image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Rating stars */
.checked {
    color: orange;
}


/*Rating stars */
.checked_2 {
    color: #f44336;
}
span.fa.fa-star{
	font-size:36px
}

#h1_perso{
	color:#3333ff;
}

#h2_perso{
	color:#531873;
}

#captain_america_img {
 display:inline;
  width: 15%;
  height: auto;
}

#card_personnage{
	margin-bottom:50px;
}

/*[PAGE PERSONNAGE-FIN]===================================================================*/


/*[PAGE GESTION-BD]===========================================================================*/
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
  .w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th{
    text-align: center;
}

img.img_inline.img-responsive{
display: inline;
}

/*[PAGE GETION-BD_FIN]=======================================================================*/

/*===========================================================================[FOOTER]*/
footer.container.text-center{
margin:0px;
width:100%;
} 

footer{	 
	background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(240,240,240,1) 100%);	
	width:100%;
}

footer.container.text-center{
margin:0px;
width:100%;
} 
/*===========================================================================[FOOTER_FIN]*/
